.display {
    display:none;
}

button {
    width: auto;
    height: auto;
    background-color: crimson;
    border-radius: 5px;
    color: aqua;
    font-size: medium;
    text-decoration: underline;
    margin-left: 40%;
}

body {
    background: rgb(100, 19, 100);
}